<header class="jumbotron">
  <h1 class="text-center">Caelum Pic</h1>
</header>
<main class="container">

  <div class="row">
    <div class="col-12 mb-4">
      <a routerLink="/cadastro" class="btn btn-primary">Nova foto</a>
    </div>
  </div>

  <div class="row">
    <caelumpic-card *ngFor="let foto of fotos" [foto]="foto" class="col-md-4 mb-4">
      <a [routerLink]="['/editar', foto._id]" class="foto" routerLinkActive="router-link-active" >
        <caelumpic-foto [url]="foto.url" [titulo]="foto.titulo"></caelumpic-foto>
      </a>
      <button (click)="apagar(foto)" class="btn btn-danger">APAGAR</button>
    </caelumpic-card>
  </div>

</main>
